body {
    background: url('../images/background.jpg');
    margin-left: 0 auto;
    margin-right: 0 auto; 
}
header {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 48px;
    color: lime;
    padding-top: 20px;
}
p {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: lightskyblue;
    margin: 10px 10px 20px 10px;
}
h2 {
    font-family: 'Monoton', cursive;
    color: royalblue;
}
h4 {
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
}
th {
    color: lime;
    font-family: 'Roboto Mono', monospace;
    padding-right: 20px;
}
td {
    color: lightskyblue;
}
div {
    margin-bottom: 10px;
}
span {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: red;
}
button {
    margin: 0 auto;
    display: block;
    background-color: royalblue;
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding: 5px 10px 5px 10px;
}
img {
    margin: 0px 3px 0px 3px;
}
figure {
    display: inline-block;
    position: relative;
}
figcaption {
    color: lime;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    padding: 10px;
}
.modal-body {
    overflow-x: auto;
}
.modal-content {
    background-color: lightgrey;
}
.loading-gif {
    text-align: center;
}
#loading {
    border-radius: 10px;
}
#visitor {
    margin: 0 auto;
    display: block;
}
#picture-of-day {
    margin: 0 auto;
    display: block;
}
#pic-caption {
    font-family: 'Roboto Mono', monospace;
}
#name-input {
    position: fixed;
    left: 50%;
    bottom: 130px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 230px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}
#age-input {
    position: fixed;
    left: 50%;
    bottom: 80px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 230px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}
#visitor {
    position: fixed;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
#pic-of-day {
    height: 500px;
    width: 700px;
    margin: 0 auto;
    display: block;
    padding: 10px;
}
#planet-row {
    text-align: center;
    position: absolute;
    top: 35%;
}
#data-cards {
    position: absolute;
    bottom: 0;
    left: 5%;
    padding: 20px;
}
#sun {
    height: 270px;
    width: 280px;
    top: 50px;
}
#mercury {
    height: 70px;
    width: 70px;
    top: 120px;
}
#mercury-figure {
    bottom: 100px;
}
#venus {
    height: 100px;
    width: 100px;
    top: 100px;
}
#venus-figure {
    bottom: 90px;
}
#earth {
    height: 115px;
    width: 120px;
    top: 90px;
}
#earth-figure {
    bottom: 85px;
}
#mars {
    height: 85px;
    width: 85px;
    top: 105px;
}
#mars-figure {
    bottom: 100px;
}
#jupiter {
    height: 170px;
    width: 170px;
    top: 65px;
}
#jupiter-figure {
    bottom: 65px;
}
#saturn {
    height: 145px;
    width: 170px;
    top: 80px;
}
#saturn-figure {
    bottom: 75px;
}
#uranus {
    height: 120px;
    width: 120px;
    top: 95px;
}
#uranus-figure {
    bottom: 85px;
}
#neptune {
    height: 115px;
    width: 115px;
    top: 95px;
}
#neptune-figure {
    bottom: 90px;
}
#pluto {
    height: 55px;
    width: 60px;
    top: 120px;
}
#pluto-figure {
    bottom: 120px;
}
.grow:hover {
    transform: scale(1.1);
}

/* Need to add responsiveness (media queries)
